@import "~normalize.css";
@import "~font-awesome/css/font-awesome.css";

html {
	font-family: "Avenir Next";
	color: #565656;
}

div, span, a, h1, h2, h3 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.drop-zone {
	border: 1px solid red;
	width: 300px;
	height: 300px;
}